# Archivos sensibles
config/database.php
config/database.local.php
vendor/
.env
*.log

# Archivo para generar hash de contraseña, no debe subirse al repositorio
generar_hash.php 

# Temporales y editores
.DS_Store
Thumbs.db
.vscode/
node_modules/